.hero-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 900px;
}

.hero {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 23rem 19rem;
    background-color: "#transparent";
    overflow: hidden;
}

.hero .text-container {
    margin-top: -5rem;
    position: relative;
    z-index: 3;
}

.hero h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero .empowering {
    color: #3FD6C5;
}
.hero .health {
    color: #234360;
}

.hero p {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
    line-height: 1.5;
}

.images-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.image {
    position: absolute;
    width: 150px;
    height: 150px;
}

.image1 {
    top: 10%;
    left: 62%;
}

.image2 {
    top: -4%;
    left: 27%;
}

.image3 {
    top: 4%;
    left: 12%;
}

.image4 {
    top: 28%;
    left: 22%;
}

.image5 {
    bottom: -24%;
    left: 45%;
}

.image6 {
    bottom: -3%;
    left: 71%;
}

.image7 {
    bottom: 42%;
    left: 82%;
    transform: translate(-50%, -50%);
}